@{
    ViewData["Title"] = "Employee Dashboard";
}
<h2>Welcome Employee</h2>

<a asp-action="AddFarmer" class="btn btn-success">+ Add New Farmer</a>
<a asp-action="ViewProducts" class="btn btn-primary">View All Products</a>
