@{
    ViewData["Title"] = "Employee Dashboard";
}

<div class="container dashboard-page text-center">
    <h2 class="mb-4"><i class="bi bi-people-fill text-success"></i> Employee Dashboard</h2>
    <p class="lead">View and manage farmer profiles and product inventory.</p>

    <a asp-controller="Employee" asp-action="AddFarmer" class="btn btn-primary mt-3 me-2">
        <i class="bi bi-person-plus"></i> Add Farmer
    </a>

    <a asp-controller="Employee" asp-action="ViewProducts" class="btn btn-success mt-3">
        <i class="bi bi-box-seam"></i> View All Products
        
        <a asp-controller="Employee" asp-action="AllFarmers" class="btn btn-warning mt-3">
            <i class="bi bi-person-lines-fill"></i> View All Farmers
        </a>

    </a>
</div>
